@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Mulish', sans-serif;
}

Button {
  @apply mt-4 px-4 py-2 bg-pokeBlue-500 hover:bg-pokeGray text-white rounded;
  transition: background-color 0.2s ease;
}
